/* style contents for mobile only */

@media (max-width: 769px) {
  .reserve {
    margin: 20px;
  }
  input {
    width: 77vw;
    height: 8vh;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  .comment {
    height: 40vh !important;
  }
  .resp {
    font-weight: bold;
    font-size: 25px;
    color: #ccc !important;
  }
  .bgicn {
    margin-top: 30px;
    width: 50px !important;
    height: 50px !important;
    color: #ccc !important;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  input {
    width: 30vw;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .comment {
    width: 80vw;
    height: 40vh !important;
  }
  .reserve {
    margin: 100px;
    margin-top: 0px !important;
  }
  .resp {
    font-weight: bold;
    font-size: 40px;
  }
  .resep {
    margin-right: 200px;
    color: #ccc !important;
  }
  .bgicn {
    margin-top: 30px;
    width: 50px !important;
    height: 50px !important;
  }
}

/* stylings that doesnt affect screens only */
.reserve {
  background-color: white !important;
  color: #111111;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.5);
}
